{
  "extends": "stylelint-config-htmlacademy",
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "declaration-no-important": true,
    "indentation": [2, {"ignore": ["inside-parens"]}],
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true
  }
}
